    /*The CSS example*/
    /* .item {
        background: #343a40;
        color: white;
        width: 70px;
        text-align: center;
        font-size: 2em;
        display: inline-block;
        margin-right: 10px;
        margin-top: 10px;
    }
    
    .square {
        width: 60%;
    }
    
    .blue {
        display: grid;
        grid-template-columns: 8% auto 8%;
        grid-template-rows: 5% 50% 5% auto 5%;
        grid-column: 2;
        justify-self: left;
    }
    
    .orange {
        display: grid;
        grid-template-columns: 8% auto 8%;
        grid-template-rows: 5% 50% 5% auto 5%;
        grid-column: 1;
        justify-self: right;
    }
    
    .logo-bqueen {
        grid-column: 2;
        grid-row: 2;
        width: 100%;
    }
    
    #b-demo {
        grid-column: 2;
        grid-row: 4;
    }
    
    .pink {
        display: grid;
        grid-template-columns: 8% auto 8%;
        grid-template-rows: 5% 50% 5% auto 5%;
        grid-column: 2;
        justify-self: left;
    }
    
    .green {
        display: grid;
        grid-template-columns: 8% auto 8%;
        grid-template-rows: 5% 50% 5% auto 5%;
        grid-column: 1;
        justify-self: right;
    } */